<!-- header -->
<app-header></app-header>
<!-- end header -->
<div class="container animated fadeIn">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="update">
      <form [formGroup]="updateTaxForm" (ngSubmit)="onSubmit()">
        <h3>Actualizar Impuesto</h3>
        <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
          <a class="close" (click)="closeAlertErr()">
            &times;
          </a>
          <h6>{{msgerr}}</h6>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="tax_id" formControlName="tax_id"
            [ngClass]="{ 'is-invalid': submitted && f.tax_id.errors }" placeholder="Enter document" readonly>
          <label for="tax_id">ID</label>
          <span>
            <div *ngIf="submitted && f.tax_id.errors">
              <div *ngIf="f.tax_id.errors.required"> <label id="error">Error el documento es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="name">Nombre </label>
          <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Nombre">
          <span>
            <div *ngIf="submitted && f.name.errors">
              <div *ngIf="f.name.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="percent">Porcentaje</label>
          <input type="text" class="form-control" id="percent" formControlName="percent"
            [ngClass]="{ 'is-invalid': submitted && f.percent.errors }" placeholder="Ingrese el porcentaje">
          <span>
            <div *ngIf="submitted && f.percent.errors">
              <div *ngIf="f.percent.errors.required"> <label id="error">Error el porcentaje es requerido </label></div>
            </div>
          </span>
        </div>
        <button type="submit" class="btn btn-warning btn-lg btn-block btn-full">Actualizar</button>
      </form>
    </div>
  </div>
</div>
