<!-- header -->
<app-header></app-header>
<!-- end header -->

<div class="animated fadeIn">
  <div class="container">
    <div class="row">
      <div id="admin" class="col s12">
        <div class="card material-table">
          <div class="table-header">
            <span class="table-title conforta">Listado de Usuarios</span>
            <div class="actions">

              <a title="Nuevo Usuario" (click)="createUser()" class=" modal-trigger waves-effect btn-flat nopadding">
                <i class="fas fa-plus-circle"></i>
              </a>

              <a title="Filtro" (click)="cambiaEstado()" class="search-toggle waves-effect btn-flat nopadding">
                <i class="fas fa-filter"></i>
              </a>

              <a title="Exportar Excel" (click)="exportAsXLSX()" class=" modal-trigger waves-effect btn-flat nopadding">
                <i class="fas fa-file-excel"></i>
              </a>
            </div>
          </div>
          
          <div class="table striped center">
              <table id="Data" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Fecha creación</th>
                    <th>Fecha modificación</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <th>Reset</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listUser" >
                    <td >{{row.user_id}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.rol_name}}</td>
                    <td>{{row.create_time}}</td>
                    <td>{{row.update_time}}</td>
                    <td>{{row.status}}</td>
                    <td><i (click)="updateUser(row.user_id, row.email)" class="fas fa-pencil-alt fa-fw"></i></td>
                    <td><i (click)="deleteUser(row.user_id)" class="fas fa-trash-alt fa-fw"></i></td>
                    <td><i (click)="resetPassword(row.user_id)" class="fas fa-key"></i></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
