<!-- header -->
<app-header></app-header>
<!-- end header -->
<div class="container animated fadeIn">
  <div class="row">

    <div class="col s12"></div>

    <div class="col s6" id="create">

      <div class="input-field col s3 right">
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-full" (click)="invoicePrint()">
          <i class="material-icons">
            local_printshop
          </i>
        </button>
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-full" (click)="sendEmail()">
          <i class="material-icons">
            email
          </i>
        </button>
      </div>
      <form [formGroup]="updateSaleForm" (ngSubmit)="onInactive()">
        <h3>Venta</h3>

        <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
          <a class="close" (click)="closeAlertErr()">
            &times;
          </a>
          <h6>{{msgerr}}</h6>
        </div>
        <div class="form-group">
          <label for="Sale_id">Sale</label>
          <input type="text" class="form-control" id="sale_id" formControlName="sale_id"
            [ngClass]="{ 'is-invalid': submitted && f.sale_id.errors }" placeholder="Enter sale_id" readonly>
          <span>
            <div *ngIf="submitted && f.sale_id.errors">
              <div *ngIf="f.sale_id.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>

        <div class="form-group">
          <label for="date">Fecha</label>
          <input type="text" class="form-control" id="date" formControlName="date" readonly
            [ngClass]="{ 'is-invalid': submitted && f.date.errors }" placeholder="Enter date">
          <span>
            <div *ngIf="submitted && f.date.errors">
              <div *ngIf="f.date.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="pod_name">Punto de venta</label>
          <input type="text" class="form-control" id="pod_name" formControlName="pod_name" readonly
            [ngClass]="{ 'is-invalid': submitted && f.pod_name.errors }" placeholder="Enter pod_name">
          <span>
            <div *ngIf="submitted && f.pod_name.errors">
              <div *ngIf="f.pod_name.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="user_name">User</label>
          <input type="text" class="form-control" id="user_name" formControlName="user_name" readonly
            [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" placeholder="Enter rol user_name">
          <span>
            <div *ngIf="submitted && f.user_name.errors">
              <div *ngIf="f.user_name.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>
        <div class="form-group">
          <label for="client_name">Cliente</label>
          <input type="text" class="form-control" id="client_name" formControlName="client_name" readonly
            [ngClass]="{ 'is-invalid': submitted && f.client_name.errors }" placeholder="Enter rol client_name">
          <span>
            <div *ngIf="submitted && f.client_name.errors">
              <div *ngIf="f.client_name.errors.required"> <label id="error">Error el nombre es requerido </label></div>
            </div>
          </span>
        </div>
        <button type="submit" class="btn btn-warning btn-lg btn-block btn-full">Inactivar</button>
      </form>

      <ng-container *ngIf="viewInactiveChange;">
        <form [formGroup]="inactivechangeForm " (ngSubmit)="onSubmit()" class="background-white col s12">
          <h5>Autorización</h5>
          <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
            <a class="close" (click)="closeAlertErrPass()">
              &times;
            </a>
            <h6>{{msgerr}}</h6>
          </div>
          <div class="form-group col s12">
            <label for="user_id">Usuario</label>
            <input type="password" class="form-control" id="user_id" formControlName="user_id"
              [ngClass]="{ 'is-invalid': submitted && p.user_id.errors }" placeholder="Ingrese el Usuario">
            <span>
              <div *ngIf="submitted && p.user_id.errors">
                <div *ngIf="p.user_id.errors.required"> <label id="error">Error el password es requerido</label></div>
              </div>
            </span>
          </div>

          <div class="form-group col s12">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && p.password.errors }" placeholder="Ingrese el Password">
            <span>
              <div *ngIf="submitted && p.password.errors">
                <div *ngIf="p.password.errors.required"> <label id="error">Error el password es requerido</label></div>
              </div>
            </span>
          </div>


          <div class="input-field col s12">
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-full">Inactivar factura</button>
          </div>
        </form>
      </ng-container>
    </div>

    <div class="col s6 facturaup">
      <app-invoice></app-invoice>
    </div>
  </div>
</div>
