<!-- header -->
<app-header></app-header>
<!-- end header -->
<!-- code html content home here!! -->
<div class="row container" style="margin-top: 3%;">
  <div *ngFor="let m of listMenuAuth">


    <div class="col m4 s12">
      <a [routerLink]="['/',m.route]" class="boton-home waves-effect {{m.route.substring(m.route.length,4)}}">
        <div class="row ">
          <div class="col m12 s12">
            <i class="material-icons icono-boton">{{m.icon}}</i>
            <h2 class="conforta center text-boton">{{m.privilege_name}}</h2>
          </div>
        </div>
      </a>
    </div>




  </div>


</div>
