.boton-home{
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icono-boton{
    font-size: 152px;
    position: absolute;
    left: 2%;
    top: 0;
    color: #ffffff47;
    margin: auto;
    overflow: hidden;
    z-index: -1;
}
.boton-home:hover{
    box-shadow: 0 0 6px 0px black;
}
.text-boton{
    text-shadow: 0px 4px 2px black;
}
.sales{
    background: #e53935;
    border: solid #d32f2f;
}
.users{
    background: #3949ab;
    border: solid #303f9f;
}
.products{
    background: #00897b;
    border: solid #00796b;
}
.modules{
    background: #f57c00;
    border: solid #ef6c00;
}
.taxs{
    background: #d81b60;
    border: solid #c2185b;
}
.rols{
    background: #43a047;
    border: solid #388e3c;
}
.privileges{
    background: #9e9d24;
    border: solid #827717;
}
.pods{
    background: #e64a19;
    border: solid #d84315;
}
.categorys{
    background: #ad1457;
    border: solid #880e4f;
}