<!-- header -->
<app-header></app-header>
<!-- end header -->
<!-- code html content home here!! -->
  <div class="row container" style="margin-top: 3%;">
    <div class="col m4 s12">
        <a href="#!" class="boton-home waves-effect waves-light red darken-1">
        <div class="row ">
            <div class="col m12 s12">
                <i class="material-icons icono-boton">local_grocery_store</i>
                <h2 class="conforta center text-boton">Ventas</h2>
            </div>
        </div>
        </a>
    </div>
    <div class="col m4 s12">
        <a href="#!" class="boton-home waves-effect waves-light indigo darken-1">
        <div class="row ">
            <div class="col m12 s12">
                <i class="material-icons icono-boton">people</i>
                <h2 class="conforta center text-boton">Usuarios</h2>
            </div>
        </div>
        </a>
    </div>
    <div class="col m4 s12">
            <a href="#!" class="boton-home waves-effect waves-light teal darken-1">
            <div class="row ">
                <div class="col m12 s12">
                    <i class="material-icons icono-boton">card_giftcard</i>
                    <h2 class="conforta center text-boton">Productos</h2>
                </div>
            </div>
            </a>
    </div>
  </div>
  <div class="row container" style="margin-top: 3%;">
    <div class="col m4 s12">
            <a href="#!" class="boton-home waves-effect waves-light orange darken-2">
            <div class="row ">
                <div class="col m12 s12">
                    <i class="material-icons icono-boton">widgets</i>
                    <h2 class="conforta center text-boton">Modulos</h2>
                </div>
            </div>
            </a>
    </div>
    <div class="col m4 s12">
            <a href="#!" class="boton-home waves-effect waves-light pink darken-1">
            <div class="row ">
                <div class="col m12 s12">
                    <i class="material-icons icono-boton">description</i>
                    <h2 class="conforta center text-boton">Impuestos</h2>
                </div>
            </div>
            </a>
    </div>
    <div class="col m4 s12">
            <a href="#!" class="boton-home waves-effect waves-light green darken-1">
            <div class="row ">
                <div class="col m12 s12">
                    <i class="material-icons icono-boton">assignment_ind</i>
                    <h2 class="conforta center text-boton">Roles</h2>
                </div>
            </div>
            </a>
    </div>
  </div>
  <div class="row container" style="margin-top: 3%;">
        <div class="col m4 s12">
                <a href="#!" class="boton-home waves-effect waves-light lime darken-3">
                <div class="row ">
                    <div class="col m12 s12">
                        <i class="material-icons icono-boton">view_list</i>
                        <h2 class="conforta center text-boton">Privilegio</h2>
                    </div>
                </div>
                </a>
        </div>
        <div class="col m4 s12">
                <a href="#!" class="boton-home waves-effect waves-light deep-orange darken-1">
                <div class="row ">
                    <div class="col m12 s12">
                        <i class="material-icons icono-boton">store</i>
                        <h2 class="conforta center text-boton">Puntos</h2>
                    </div>
                </div>
                </a>
        </div>
        <div class="col m4 s12">
                <a href="#!" class="boton-home waves-effect waves-light pink darken-4">
                <div class="row ">
                    <div class="col m12 s12">
                        <i class="material-icons icono-boton">extension</i>
                        <h2 class="conforta center text-boton">Categoria</h2>
                    </div>
                </div>
                </a>
        </div>
      </div>