<!-- header -->
<app-header></app-header>
<!-- end header -->
<div class="container">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3" id="create">
      <form [formGroup]="registerRolsPrivilegeForm" (ngSubmit)="onSubmit()">
        <h4>Crear privilegio de rol</h4>
        
        <div class="form-group">
          <label for="privilege_id">Modulo</label>
          <select class="form-control" id="privilege_id" formControlName="privilege_id"
            [ngClass]="{ 'is-invalid': submitted && f.privilege_id.errors }">
            <option value="" selected>Seleccione el modulo</option>
            <option *ngFor="let pv of listPrivileges" value="{{pv.privilege_id}}">{{pv.name}}</option>
          </select>
          <span>
            <div *ngIf="submitted && f.privilege_id.errors">
              <div *ngIf="f.privilege_id.errors.required"> <label id="error">Error el modulo es requerido </label></div>
            </div>
          </span>
        </div>

        <div class="form-group">
          <label for="name">Ver</label>
          <div class="switch">
            <label>
              Inactivo
              <input  type="checkbox" class="form-control" [checked]="true" id="view" formControlName="view">
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Crear</label>
          <div class="switch">
            <label>
              Inactivo
              <input  type="checkbox" class="form-control" [checked]="true" id="create" formControlName="create">
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Modificar</label>
          <div class="switch">
            <label>
              Inactivo
              <input  type="checkbox" class="form-control" [checked]="true" id="update" formControlName="update">
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Eliminar</label>
          <div class="switch">
            <label>
              Inactivo
              <input  type="checkbox" class="form-control" [checked]="true" id="delete" formControlName="delete">
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-full">Crear</button>
      </form>
    </div>
  </div>
</div>