<!-- header -->
<app-header></app-header>
<!-- end header -->
<div class="container">
  <div class="col-md-12">
    <br>
    <h3>Privilegios del Rol</h3>
    <div class="col-md-12">
      <br>
      <table class="striped responsive-table centered">
        <thead class="">
          <tr>
            <th>Rol</th>
            <th>Privilegio</th>
            <th>Ver</th>
            <th>Crear</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let rp of listRolPrivilege">

            <td>{{rp.rol_name}}</td>
            <td>{{rp.privilege_name}} </td>

            <td>
              <div class="switch">
                <label>
                  Inactivo
                  <ng-container *ngIf="rp.view == 1; else elseTemplate">

                    <input checked type="checkbox" class="form-control" id="view">
                  </ng-container>
                  <ng-template #elseTemplate>

                    <input type="checkbox" class="form-control" id="view">
                  </ng-template>

                  <span class="lever"></span>
                  Activo
                </label>
              </div>
              <span>
                <div *ngIf="submitted && f.status.errors">
                  <div *ngIf="f.view.errors.required"> <label id="error">Check requerido</label></div>
                </div>
              </span>
            </td>

            <td>
              <div class="switch">
                <label>
                  Inactivo
                  <ng-container *ngIf="rp.create == 1; else elseTemplate">

                    <input checked type="checkbox" class="form-control" id="create">
                  </ng-container>
                  <ng-template #elseTemplate>

                    <input type="checkbox" class="form-control" id="create">
                  </ng-template>

                  <span class="lever"></span>
                  Activo
                </label>
              </div>
              <span>
                <div *ngIf="submitted && f.status.errors">
                  <div *ngIf="f.create.errors.required"> <label id="error">Check requerido</label></div>
                </div>
              </span>
            </td>


            <td>
              <div class="switch">
                <label>
                  Inactivo
                  <ng-container *ngIf="rp.update == 1; else elseTemplate">

                    <input checked type="checkbox" class="form-control" id="update">
                  </ng-container>
                  <ng-template #elseTemplate>

                    <input type="checkbox" class="form-control" id="update">
                  </ng-template>

                  <span class="lever"></span>
                  Activo
                </label>
              </div>
              <span>
                <div *ngIf="submitted && f.status.errors">
                  <div *ngIf="f.update.errors.required"> <label id="error">Check requerido</label></div>
                </div>
              </span>
            </td>



            <td>
              <div class="switch">
                <label>
                  Inactivo
                  <ng-container *ngIf="rp.delete == 1; else elseTemplate">

                    <input checked type="checkbox" class="form-control" id="delete">
                  </ng-container>
                  <ng-template #elseTemplate>

                    <input type="checkbox" class="form-control" id="delete">
                  </ng-template>

                  <span class="lever"></span>
                  Activo
                </label>
              </div>
              <span>
                <div *ngIf="submitted && f.status.errors">
                  <div *ngIf="f.delete.errors.required"> <label id="error">Check requerido</label></div>
                </div>
              </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <br>
      <button type="button" (click)="createRol()" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</div>
