.products {
  padding: 2%;
}

.padding0 {
  padding: 0 !important;
  margin: 2%;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 6px;
  background-color: #26a69a !important;
  will-change: left, right;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: white;
}

.tabs .tab a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #2c3e50;
  margin: 0 auto;
  white-space: nowrap;
}

.div-producto {
  overflow: hidden;
  height: 270px;
}

.ventas {
  position: absolute;
  top: 10%;
  right: 0 !important;
  height: 75%;
  overflow: auto;
  background: white;
}

.totales {
  align-items: center;
  left: 0;
  position: absolute;
  bottom: 0px;
  height: 15%;
  margin-bottom: 0;
  width: 100%;
  background: #1c2b36;
  display: flex;
  justify-content: center;
  color: white;
}
.display-flex{
  display: flex;
}
/* height */
::-webkit-scrollbar {
  height: 6px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00695c; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00bfa5; 
}
.imagendeproducto{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.productos-tab {
  overflow: auto;
  height: 75% !important;
  width: 66.66% !important;
  z-index: 2;
  background: white;
  position: absolute;
  top: 10%;
}
.li_product{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
}
.cancel-product{
  position: absolute;
    top: 0px !important;
    right: 0px !important;
}
.btn_producto{
  height: 21px;
  line-height: 21px;
  padding: 0px 8px;
}
.center-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.productos{
  height: 77% !important;
  overflow: auto;
}
.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
  position: absolute;
  width: 65px !important;
  height: 100% !important;
  overflow: hidden;
  object-fit: cover !important;
  left: 0px !important;
  display: inline-block;
  vertical-align: middle;
}
.circle {
  border-radius: 0 !important;
}

.alto-productos {
  height: 220px;
  overflow: auto;
}

.pago {
  font-size: 2.2rem !important;
  text-align: center !important;
}

.automargin {
  margin: auto;
}