<!-- header -->
<app-header></app-header>
<!-- end header -->

<div class="row ">
  <div class="col m8 s12 no-padding productos-tab">
    <ul class="tabs">
      <li class="tab col s3" *ngFor="let c of listCategory"><a href="#tab{{c.category_id}}">{{c.name}}</a></li>
    </ul>
    <div *ngFor="let c of listCategory" id="tab{{c.category_id}}" class="col s12">
      <div class="products center">
          
        <div *ngFor="let p of listProduct">
            <div class="col m4 s12" *ngIf="c.category_id === p.category_id">
                <div class="card horizontal alto-productos">
                  <div class="card-image center-product">
                    <img src="{{p.image}}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p><b>{{p.name}}</b></p>
                      <p><b>$ {{p.net_price}}</b></p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" style="width: 100%; margin: 3% 0%;" (click)="addProduct(p)">
                          <i class="material-icons prefix">shopping_cart</i>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
          <!-- <div class="col m3 s12 div-producto" style="padding: 1%;" *ngIf="c.category_id === p.category_id">
            <div class="z-depth-2 col padding0" style="width: 100%">
              <img src="{{p.image}}" class="products" width="auto%" height="100px">
              <p><b>{{p.name}}</b></p>
              <p><b>$ {{p.net_price}}</b></p>
              <div class="col s12 center">
                <a class="waves-effect waves-light btn" style="width: 100%; margin: 2% 0%" (click)="addProduct(p)">
                  <i class="material-icons prefix">shopping_cart</i>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>
  <div class="col m4 s12 z-depth-1 ventas">
    <div class="row" style="margin-bottom: 0;">
      <form class="from-none">

          <div class="col s4">
              <h4 class="center">{{sale_id}}</h4>
            </div>
        <ng-container *ngIf="client != null; else elseTemplate">
          <div class="col s8">
            <p class="left">Cliente: </p>
            <h5 class="center">{{client.username}}</h5>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <form class="from-none">
            <div class="input-field col s10">
              <i class="material-icons prefix">person_pin</i>
              <input id="client_id" name="client_id" (keypress)="clientSearch($event)" [(ngModel)]="client_id"
                type="text" class="validate">
              <label for="client_id">Documento</label>
            </div>
            <div class="input-field col s1">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn-floating modal-trigger" href="#ClientRegister">
                <i class="material-icons white-text">person_add</i>
              </a>
            </div>
          </form>
        </ng-template>

        <div class="input-field col s12">
          <i class="material-icons prefix">center_focus_strong</i>
          <input id="icon_prefix" name="seeker" (keypress)="productSearch($event)" [(ngModel)]="seeker" type="text"
            class="validate">
          <label for="icon_prefix">Id o Codigo de barras</label>
        </div>
      </form>
    </div>
    <div class="productos">
        <div *ngFor="let sp of listSaleProduct">
          <div class="col s6">    
          <ul class="collection" *ngIf="sp[3] > 0 ">
            <li class="collection-item avatar">
              <img src="{{sp[2]}}" alt="" class="circle">
              <span class="title">{{sp[1]}} x {{sp[3]}}</span>
              <p>$ {{sp[4]}}</p>
              <div class="row" style="margin: 0">
              <div class="badge teal darken-4 white-text col s4 center-flex">
                <a (click)="decreAmount(sp[0])">
                  <i class="material-icons white-text">remove</i>
                </a>
              </div>
              <div class="badge center col s4">
                {{sp[3]}}
              </div>
              <div class="badge teal darken-4 white-text col s4 center-flex">
                <a (click)="increAmount(sp[0])">
                  <i class="material-icons white-text">add</i>
                </a>
              </div>
            </div>
              <a class="secondary-content red-text text-darken-4" (click)="deleteProduct(sp[0])">
                <i class="material-icons ">cancel</i>
              </a>
            </li>
          </ul>
        </div>
        </div>    
    </div>
   
   
    
    <div class="col s12 center">
        <a class="waves-effect waves-light btn modal-trigger" style="width: 100%; margin: 3% 0%;" href="#modal1">Facturar</a>
      <!-- <a class="waves-effect waves-light btn" style="width: 100%; margin: 3% 0%;" (click)="sale()">Facturar</a> -->
    </div>
  </div>

</div>

  <div id="modal1" class="modal">
      <div class="modal-content row">
          <form action="" class="from-none">
              <p class="center"><b>Forma de Pago</b></p>
              <div class="col m6 s6">
                <p>
                  <label>
                    <input name="waytopay" type="radio" checked />
                    <span><i class="material-icons ">payment</i>Tarjeta</span>
                  </label>
                </p>
              </div>
              <div class="col m6 s6">
                <p>
                  <label>
                    <input name="waytopay" type="radio" />
                    <span><i class="material-icons ">monetization_on</i>Efectivo</span>
                  </label>
                </p>
              </div>
              <div class="col s12">
                  <a class="waves-effect waves-light btn" style="width: 100%; margin: 3% 0%;" (click)="sale()">Facturar</a>
              </div>
            </form>
      </div>
    </div>
<div class="row totales">
    <div class="col s4">
      <p class="left">Total impuesto</p>
      <h5 class="center">$ {{tax_price}}</h5>
    </div>
    <div class="col s4">
      <p class="left">Total Compra</p>
      <h5 class="center">$ {{gross_price}}</h5>
    </div>
    <div class="col s4">
      <p class="left">Total</p>
      <h3 class="center">$ {{total_price}}</h3>
    </div>
  </div>

<!-- Modal Structure -->
<div id="ClientRegister" class="modal">
  <div class="modal-content">
    <h4>Registrar Cliente</h4>
    <p>Registra los datos del cliente</p>
    <app-clientregister></app-clientregister>

  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="modalClose()">Cerrar</a>
  </div>
</div>
