<!-- header -->
<app-header></app-header>
<!-- end header -->

<div class="row">
  <div class="col m8 s12 no-padding productos-tab">
    <ul class="tabs display-flex">
      <li class="tab col s3" *ngFor="let c of listCategory"><a href="#tab{{c.category_id}}">{{c.name}}</a></li>
    </ul>
    <div *ngFor="let c of listCategory" id="tab{{c.category_id}}" class="col s12 ">
      <div class="products center">
        <div *ngFor="let p of listProduct">

          <div class="col m2 s12" *ngIf="c.category_id === p.category_id" (click)="addProduct(p)"
            style="margin-bottom: 1%;">
            <!-- Aqui inicia el producto -->
            <div style="background-size: cover; cursor: pointer;" [ngStyle]="{'background-image':'url('+p.image+')'}">
              <div class="alto-productos name-product">
                <p><b>{{p.name}}</b></p>
                <p><b>$ {{p.net_price}}</b></p>
              </div>
            </div>
            <!-- Aqui termina el producto -->
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col m4 s12 z-depth-1 ventas">
    <div class="row" style="margin-bottom: 0;">
      <form class="from-none">

        <ng-container *ngIf="client != null; else elseTemplate">
          <form class="from-none">
            <div class="input-field no-padding col s4">
              <i class="material-icons prefix">person_pin</i>
              <input class="pago" id="client_id" name="client_id" (keypress)="clientSearch($event)"
                [(ngModel)]="client_id" type="text" class="validate">
              <label for="client_id">Documento</label>
            </div>
            <div class="input-field padding col s1">
              <a class="waves-effect waves-light btn modal-trigger" href="#ClientRegister">
                <i class="material-icons white-text">person_add</i>
              </a>
            </div>
          </form>
          <div class="col s6 offset-s1 no-padding col ">
            <p class="left">Cliente: </p>
            <h5 class="center">{{client.username}}</h5>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <form class="from-none">
            <div class="input-field no-padding col s10">
              <i class="material-icons prefix">person_pin</i>
              <input class="pago" id="client_id" name="client_id" (keypress)="clientSearch($event)"
                [(ngModel)]="client_id" type="text" class="validate">
              <label for="client_id">Documento</label>
            </div>
            <div class="input-field no-padding col s1">
              <a class="waves-effect waves-light btn modal-trigger" href="#ClientRegister">
                <i class="material-icons white-text">person_add</i>
              </a>
            </div>
          </form>
        </ng-template>

        <div class="input-field no-padding col s10">
          <i class="material-icons prefix">center_focus_strong</i>
          <input id="icon_prefix" name="seeker" (keypress)="productSearch($event)" [(ngModel)]="seeker" type="text"
            class="validate">
          <label for="icon_prefix">Id o Codigo de barras</label>
        </div>
        <!--
        <div class="input-field no-padding col s1">
          <button data-target="modal1" class="btn modal-trigger">
            <i class="material-icons medium center">dialpad</i>
          </button>
        </div>
        -->
      </form>
    </div>

    <div class="productos">
      <div *ngFor="let sp of listSaleProduct; let i = index">

        <!-- Modal Structure -->
        <div id="modal{{i}}" class="modal" style="width: 30%;">
          <div class="modal-content">
            <div class="container primary-text-color unselectable">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">plus_one</i>
                  <input id="numv"   >
                  <label for="numv">Cantidad</label>
                </div>
                <div class="col l8 m8 s8">
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="siete">
                      <h4>7</h4>
                    </span></div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="ocho">
                      <h4>8</h4>
                    </span>
                  </div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="nueve">
                      <h4>9</h4>
                    </span></div>

                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="siete">
                      <h4>4</h4>
                    </span></div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="ocho">
                      <h4>5</h4>
                    </span>
                  </div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="nueve">
                      <h4>6</h4>
                    </span></div>

                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="siete">
                      <h4>1</h4>
                    </span></div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="ocho">
                      <h4>2</h4>
                    </span>
                  </div>
                  <div class="waves-effect waves-light col l4 m4 s4 btn-large center teal darken-3 medium"><span
                      id="nueve">
                      <h4>3</h4>
                    </span></div>
                  <div
                    class="waves-effect waves-light col l4 m4 s4 offset-s4 offset-m4 offset-l4 btn-large center teal darken-3 medium">
                    <span id="siete">
                      <h4>0</h4>
                    </span></div>
                </div>
                <div class="col l4 m4 s4 no-padding">
                  <div class="waves-effect waves-light col l12 m12 s12  btn-large center teal darken-3"><span
                      id="siete">
                      <i class="fas fa-backspace fa-2x"></i>
                    </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12">
          <ul class="collection" *ngIf="sp[3] > 0 " style="height: 60px; margin: 2px">
            <li class="avatar li_product" style="padding: 2% 5% 0% 0%;">
              <!-- <img src="{{sp[2]}}" alt="" class="circle"> -->
              <div class="">
                <div class="col s8" style="margin: 0;">
                  <p class="title" style="font-size: 16px;" style="margin: 0;"><b>{{sp[1]}} x {{sp[3]}}</b></p>
                  <p style="font-size: 16px;" style="margin: 0;"><b>$ {{sp[4]}}</b></p>
                </div>
                <div class="col s4" style="margin: 0;">
                  <div class="row center" style="margin-bottom: 0; display: flex; align-items: center;">
                    <div class="badge white-text col s4 center-flex">
                      <a (click)="decreAmount(sp[0])" class="btn btn_producto teal darken-4">
                        <i class="material-icons white-text">remove</i>
                      </a>
                    </div>

                    <div class="keypad col s4 center" style="padding: 0;">
                      <a class="modal-trigger" href="#modal{{i}}"><img src="./assets/keypad.png"></a>
                    </div>
                    
                    <div class="badge white-text col s4 center-flex">
                      <a (click)="increAmount(sp[0])" class="btn btn_producto teal darken-4">
                        <i class="material-icons white-text">add</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a class="secondary-content red-text text-darken-4 cancel-product" (click)="deleteProduct(sp[0])">
                <i class="material-icons ">cancel</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row totales">
  <div class="col s2">
    <p class="left">Total impuesto</p>
    <h5 class="center">{{tax_priceMoney}}</h5>
  </div>
  <div class="col s3">
    <p class="left">Total base: Compra</p>
    <h5 class="center">{{gross_priceMoney}}</h5>
  </div>
  <div class="col s3">
    <p class="left">Total:</p>
    <h5 class="center">{{total_priceMoney}}</h5>
  </div>
  <div class="col s4 center">
    <a class="waves-effect waves-light btn modal-trigger" style="width: 100%; margin: 3% 0%;"
      href="#formadepago">Realizar Pedido</a>
    <!-- <a class="waves-effect waves-light btn" style="width: 100%; margin: 3% 0%;" (click)="sale()">Facturar</a> -->
  </div>
</div>

<!-- Modal Structure 
-->
<div id="ClientRegister" class="modal">
  <div class="modal-content">
    <h4>Registrar Cliente</h4>
    <p>Registra los datos del cliente</p>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" id="create">
        <form [formGroup]="registerClientForm" class="from-none" (ngSubmit)="onClientSubmit()">
          <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
            <a class="close" (click)="closeAlertErr()">
              &times;
            </a>
            <h6>{{msgerr}}</h6>
          </div>
          <div class="form-group input-field col s12">
            <input type="text" class="form-control" id="user_id" formControlName="user_id"
              [ngClass]="{ 'is-invalid': submitted && fc.user_id.errors }" placeholder="Enter document">
            <label for="user_id">Documento</label>
            <span>
              <div *ngIf="submitted && fc.user_id.errors">
                <div *ngIf="fc.user_id.errors.required"> <label id="error">Error el documento es requerido </label>
                </div>
              </div>
            </span>
          </div>
          <div class="form-group input-field col s12">
            <input type="text" class="form-control" id="username" formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && fc.username.errors }" placeholder="Enter username">
            <label for="username">Username </label>
            <span>
              <div *ngIf="submitted && fc.username.errors">
                <div *ngIf="fc.username.errors.required"> <label id="error">Error el usuario es requerido </label></div>
              </div>
            </span>
          </div>
          <div class="form-group input-field col s12">
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && fc.email.errors }" placeholder="Enter email">
            <label for="email">Email </label>
            <span>
              <div *ngIf="submitted && fc.email.errors">
                <div *ngIf="fc.email.errors.required"> <label id="error">Error el email es requerido </label></div>
              </div>
            </span>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block btn-full">Crear</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="modalClose()">Cerrar</a>
  </div>
</div>
<div id="formadepago" class="modal" style="width: 30%;">
  <div class="modal-content row">

    <form class="from-none" [formGroup]="payForm" (ngSubmit)="onSubmitPay()">

      <div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msgerr">
        <a class="close" (click)="closeAlertErr()">
          <p class="center"><b>Forma de Pago</b></p>
          &times;
        </a>
        <h6>{{msgerr}}</h6>
      </div>
      <div>
        <div class="input-field col s12">
          <i class="material-icons prefix">money_off</i>
          <input id="descuento" class="pago" name="descuento" type="number" max="100" (keyup)="discount()"
            [(ngModel)]="descuento" formControlName="descuento">
          <label for="descuento">Descuento</label>
        </div>
        <span class="center">
          <div *ngIf="submittedPay && fpay.descuento.errors">
            <div *ngIf="fpay.descuento.errors.required"> <label id="error">El descuento es requerido </label></div>
          </div>
        </span>
        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Efectivo" [(ngModel)]="RadioButton" formControlName="waytopay"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.waytopay.errors }" required />
              <span><i class="material-icons ">monetization_on</i> Efectivo</span>
            </label>
          </p>
        </div>
        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Tarjeta" [(ngModel)]="RadioButton" formControlName="waytopay"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.waytopay.errors }" required />
              <span><i class="material-icons ">payment</i> Tarjeta</span>
            </label>
          </p>
        </div>
        <span class="center">
          <div *ngIf="submittedPay && fpay.waytopay.errors">
            <div *ngIf="fpay.waytopay.errors.required"> <label id="error">La forma de pago es requerida </label></div>
          </div>
        </span>

      </div>

      <div class="row" *ngIf="RadioButton === 'Efectivo'">

        <div class="input-field col s12">
          <i class="material-icons prefix">attach_money</i>
          <input id="recibo" class="pago" name="recibo" type="number" (keyup)="turn()" [(ngModel)]="recibo"
            formControlName="recibo">
          <label for="recibo">Efectivo</label>
        </div>

        <span class="center">
          <div *ngIf="submittedPay && fpay.recibo.errors">
            <div *ngIf="fpay.recibo.errors.required"> <label id="error">La pago es requerido </label></div>
          </div>
        </span>

        <div class="input-field col s12 center-align">
          <p id="total" class="pago automargin right-align"> {{total_priceMoney}} </p>
          <label for="total">Total: </label>
        </div>
        <div class="input-field col s12 center-align">
          <p id="cambio" class="pago automargin"> {{cambioPesos}} </p>
          <label for="cambio">Cambio: </label>
        </div>

        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Imprimir" [(ngModel)]="Option" formControlName="selectoption"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.selectoption.errors }" required />
              <span><i class="material-icons ">print</i> Imprimir</span>
            </label>
          </p>
        </div>
        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Correo" [(ngModel)]="Option" formControlName="selectoption"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.selectoption.errors }" required />
              <span><i class="material-icons ">email</i> Correo</span>
            </label>
          </p>
        </div>

        <span class="center">
          <div *ngIf="submittedPay && fpay.selectoption.errors">
            <div *ngIf="fpay.selectoption.errors.required"> <label id="error">El envio de factura es requerido </label>
            </div>
          </div>
        </span>

      </div>

      <div class="row" *ngIf="RadioButton === 'Tarjeta'">

        <div class="input-field col s12 center-align">
          <p id="base" class="pago automargin right-align"> {{gross_priceMoney}} </p>
          <label for="base">Base: </label>
        </div>
        <div class="input-field col s12 center-align">
          <p id="iva" class="pago automargin right-align"> {{tax_priceMoney}} </p>
          <label for="iva">IVA: </label>
        </div>
        <div class="input-field col s12 center-align">
          <p id="total" class="pago automargin right-align"> {{total_priceMoney}} </p>
          <label for="total">Total: </label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">done_all</i>
          <input id="code" class="pago" name="code" type="number" [(ngModel)]="code" required formControlName="code">
          <label for="code">Codigo de autorizacion</label>
        </div>

        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Imprimir" [(ngModel)]="Option" formControlName="selectoption"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.selectoption.errors }" required />
              <span><i class="material-icons ">print</i> Imprimir</span>
            </label>
          </p>
        </div>
        <div class="form-group col m6 s6">
          <p>
            <label>
              <input type="radio" value="Correo" [(ngModel)]="Option" formControlName="selectoption"
                [ngClass]="{ 'is-invalid': submittedPay && fpay.selectoption.errors }" required />
              <span><i class="material-icons ">email</i> Correo</span>
            </label>
          </p>
        </div>

        <span class="center">
          <div *ngIf="submittedPay && fpay.selectoption.errors">
            <div *ngIf="fpay.selectoption.errors.required"> <label id="error">El envio de factura es requerido </label>
            </div>
          </div>
        </span>

      </div>

      <div class="col s12">
        <button type="submit" class="waves-effect waves-light btn" style="width: 100%; margin: 3% 0%;">Facturar</button>
      </div>

    </form>
  </div>
</div>