<!-- header -->
<app-header></app-header>
<!-- end header -->

<div class="animated fadeIn">
  <div class="row">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title conforta">Listado de Ventas</span>
          <div class="actions">

            <a title="Nueva venta" (click)="createSale()" class=" modal-trigger waves-effect btn-flat nopadding">
              <i class="fas fa-plus-circle fa-2x"></i>
            </a>

            <a title="Filtro" (click)="cambiaEstado()" class="search-toggle waves-effect btn-flat nopadding">
              <i class="fas fa-filter fa-2x fa-2x"></i>
            </a>

            <a title="Reporte Listado Ventas" (click)="exportAsXLSX()"
              class=" modal-trigger waves-effect btn-flat nopadding">
              <i class="fas fa-file-excel fa-2x"></i>
            </a>

            <a title="Reporte Total Dia" (click)="exportTotalDayXLSX()"
              class=" modal-trigger waves-effect btn-flat nopadding">
              <i class="fas fa-file-excel fa-2x"></i>
            </a>


          </div>
        </div>
        <div class="row {{texto}}">
          <div class="input-field col s4">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="search" style="padding-left: 10px;" (keyup)="quickSearch()"
              [(ngModel)]="searchFilter" class="validate" required>
            <label for="icon_prefix">Buscar </label>
          </div>
          <form [formGroup]="selectDateForm" class="from-none" (ngSubmit)="onDateSubmit()">

            <div class="form-group input-field col s2">
              <label for="since">Desde:</label>
              <input id="since" type="date" class="form-control" formControlName="since"
                [ngClass]="{ 'is-invalid': submitted && f.since.errors }">
              <span>
                <div *ngIf="submitted && f.since.errors">
                  <div *ngIf="f.since.errors.required"> <label id="error">Fecha inicial requerida </label></div>
                </div>
              </span>
            </div>

            <div class="form-group input-field col s2">
              <label for="until">Hasta:</label>
              <input id="until" type="date" class="form-control" formControlName="until"
                [ngClass]="{ 'is-invalid': submitted && f.until.errors }">
              <span>
                <div *ngIf="submitted && f.until.errors">
                  <div *ngIf="f.until.errors.required"> <label id="error">Fecha final requerida </label></div>
                </div>
              </span>
            </div>

            <div class="input-field col s1">
              <button type="submit" class="btn btn-primary btn-lg btn-block btn-full">
                <i class="material-icons">
                  date_range
                </i>
              </button>
            </div>

          </form>

          <div class="input-field col s2 ">
            <select class="centered" (change)="onPageSizeChanged($event.target.value)">
              <option value="5">5</option>
              <option selected value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <label>Mostrar: </label>
          </div>

          <i class="material-icons" (click)="cambiaEstado()">close</i>
        </div>

        <div class="table striped center">
          <ag-grid-angular style="width: 100%; height: auto;" class="ag-theme-material" [columnDefs]="columnDefs"
            [rowSelection]="rowSelection" [pagination]="true" [paginationPageSize]="paginationPageSize"
            [paginationNumberFormatter]="paginationNumberFormatter" [rowData]="rowData" [animateRows]="true"
            [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>

        <!--<ag-grid-angular style="height: 650px" class="striped responsive-table ag-theme-material"
            [rowData]="listPrivilege" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="lineas">
          </ag-grid-angular>-->
      </div>
    </div>
  </div>
</div>
<footer class="page-footer teal darken-4" style="padding: 0%;">
  <div class="container">
    <div class="row">
      <div class="col s3">
        <p class="white-text" *ngIf="since === until"><b>Total</b> {{since}}</p>
        <p class="white-text" *ngIf="since != until"> Total entre {{since}} y {{until}}</p>
      </div>
      <div class="col s3">
        <p class="grey-text text-lighten-4"><b>Total Impuesto:</b> {{taxPriceMoney}}</p>
      </div>
      <div class="col s3">
        <p class="grey-text text-lighten-4"><b>Total Base:</b> {{grossPriceMoney}}</p>
      </div>
      <div class="col s3">
        <p class="grey-text text-lighten-4"><b>Total Neto:</b> {{netPriceMoney}}</p>
      </div>
    </div>
  </div>


</footer>
