/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Comfortaa[wght]';
    src: 
      local('../font/Comfortaa[wght].ttf'),
      url('../src/assets/font/Comfortaa[wght].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .conforta{
    font-family: 'Comfortaa[wght]';
  }
  table{
    box-shadow: 0 0 3px 0px black;
    border-radius: 5px 5px;
  }
  nav{
      background: #1C2B36 !important;
  }
  th{
      text-align: center !important;
  }
  thead{
      background: #b2bec3;
      color: white;
  }