/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Comfortaa[wght]';
  src:
    local('../font/Comfortaa[wght].ttf'),
    url('../src/assets/font/Comfortaa[wght].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Barcode 128';
  src:
    local('../font/LibreBarcode128-Regular.ttf'),
    url('../src/assets/font/LibreBarcode128-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.conforta {
  font-family: 'Comfortaa[wght]';

}

.barcode {
  font-family: 'Libre Barcode 128', cursive;
  font-size: 45px;
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: center !important;
}

/* table{
    box-shadow: 0 0 3px 0px black;
    border-radius: 5px 5px;
  } */
form {
  box-shadow: 0 0 3px 0px black;
  border-radius: 5px 5px;
  padding: 3%;
  margin-top: 2%;
}

nav {
  background: #1C2B36 !important;
}

th,
td {
  text-align: center !important;
}

thead {
  background: #b2bec3;
  color: white !important;
}

.btn-full {
  width: 100%;
  margin-top: 2%;
}

.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-family: 'Comfortaa[wght]';
  text-shadow: 0 0 0px black;
}

.ag-body-viewport .ag-center-cols-container {
  display: block;
  width: 100% !important;
}


.padding0 {
  padding: 0 !important;
  margin: 2%;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 6px !important;
  background-color: #26a69a !important;
  will-change: left, right;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: white;
}

.tabs .tab a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #2c3e50;
  margin: 0 auto;
  white-space: nowrap;
}


.from-none {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-top: 0 !important;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ag-root-wrapper-body.ag-layout-normal {
  flex: 1 1 auto;
  height: auto !important;
  min-height: 0;
}


.page-loader {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1C2B36;
  display: block;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.page-loader,
.page-loader.visible {
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible
}

.page-loader.p-hidden {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.page-loader div {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #1d1d1d;
  margin-top: -50px;
  display: block
}

.page-loader div p {
  margin-top: 100px;
  font-size: 14px;
  color: white;
  letter-spacing: 1em;
  padding-left: 1em;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00695C;
  -webkit-animation: spinr 1.5s linear infinite;
  -moz-animation: spinr 1.5s linear infinite;
  -o-animation: spinr 1.5s linear infinite;
  animation: spinr 1.5s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00695C;
  -webkit-animation: spinl .5s linear infinite;
  -moz-animation: spinl .5s linear infinite;
  -o-animation: spinl .5s linear infinite;
  animation: spinl .5s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00695C;
  -webkit-animation: spinr 1s linear infinite;
  -moz-animation: spinr 1s linear infinite;
  -o-animation: spinr 1s linear infinite;
  animation: spinr 1s linear infinite;
}

form {
  background: white;
}

table {
  background: white;
}

.ancho-alto {
  height: 100% !important;
  width: 100% !important;
}

@-webkit-keyframes spinr {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinr {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinr {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinr {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinl {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes spinl {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes spinl {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spinl {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#create {
  padding-top: 50px;
}

#error {
  color: red;
}
